.main-aside{
    width: 300px;
    margin:0 30px;
    position: relative;
    .fade-enter-active,
	.fade-leave-active {
		transition: opacity 0.7s ease-out;
	}
    .aside-container{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .notice-banner,
    .side-block{
        &:first-child{margin-top:0;}
        &:hover{
            .sideblock-title:before{width:8px;}
        }
        background: #fff;
        margin-top: 20px;
        border-radius: 2px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    }

    .sideblock-title{
        height: 40px;
        line-height: 30px;
        padding: 6px 30px 0;
        position: relative;
        border-bottom: 1px solid $border-color-base;
        &:before{
            content: '';
            position: absolute;
            left: 15px;
            top: 10px;
            bottom:7px;
            width: 4px;
            background: $color-primary;
            transition: width .2s;
        }
        .more-link{
            float: right;
            font-size: 12px;
            margin-right: -15px;
        }
    }

    .sideblock-box,
    .notice-banner{
        padding: 15px;
    }
    .statistics{
        display: flex;
        text-align: center;
        align-items: center;
        margin: 20px 0;
    }
    .statistics-span{
        flex: 1;
        padding: 10px;
        border-left: 1px solid $border-color-base;
        &:first-child{border-left:0;}
    }

    .list-col{
        .list-col-item{
            margin-top: 10px;
            border-radius: 3px;
            display: flex;
            &:first-child{margin-top:0;}
        }
    }
    .list-col-img{
        width: 60px;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        overflow: hidden;
        &:hover{
            img{transform: scale(1.02);}
        }
        img{transition: transform .2s;}
    }
    .list-col-detail{
        flex: 1;
        padding-left: 10px;
        h4{@include textoverflow(2);}
        time{display: block;
            margin-top: 10px;
            font-size: 12px;
            color: #999;
        }
    }
}
