.main-aside{
    width: 300px;
    margin:0 30px;
    .notice-banner,
    .side-block{
        &:first-child{margin-top:0;}
        background: #fff;
        margin-top: 20px;
        border-radius: 4px;
    }

    .sideblock-title{
        height: 40px;
        line-height: 30px;
        padding: 6px 15px 0;
        border-bottom: 1px solid $border-color-base;
    }

    .sideblock-box,
    .notice-banner{
        padding: 15px;
    }
}
