aside#sidenav
    .dl
        a.dt(href="/admin/menus") 页面导航
    .dl.cur
        span.dt 文章管理
        ul.dd
            li
                a(href="/admin/cates") 分类
            li
                a(href="/admin") 博客
            li
                a(href="/admin/papers-journal") 日志
            li
                a(href="/admin/papers-reading") 悦读
            li
                a(href="/admin/previous") 珍藏
            li
                a(href="/admin/papers-softwares") 软件
            li
                a(href="/admin/papers-notes") 笔记
            li
                a(href="/admin/papers-books") 专栏
