.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: '';
    display: table;
    clear: both; }

.page__mini-article {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s;
  line-height: 1.4; }
  .page__mini-article:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }
    .page__mini-article:hover .mini-article__cover::before {
      background-color: rgba(30, 200, 252, 0.9); }
    .page__mini-article:hover .mini-article__cover > a {
      cursor: pointer;
      transform: translate(0, -50%) rotateX(180deg) rotateZ(-360deg) scale(1);
      opacity: 1; }

.mini-article__cover {
  position: relative;
  overflow: hidden;
  height: 200px;
  background-size: cover !important; }
  .mini-article__cover::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: transparent;
    transition: background 0.3s; }
  .mini-article__cover > img {
    display: block;
    height: 100%; }
  .mini-article__cover > a {
    font-size: inherit;
    text-decoration: none;
    transition: color 0.3s;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 40px;
    transform: translate(0, -50%) rotateX(180deg) rotateZ(0) scale(0.5);
    opacity: 0;
    z-index: 2;
    color: #fff;
    font-size: 28px;
    transition: transform 0.3s, opacity 0.3s, color 0.3s;
    text-align: center; }
    .mini-article__cover > a:hover {
      color: #0e627b; }
    .mini-article__cover > a:before {
      display: block;
      height: 40px;
      line-height: 40px; }

.mini-article__date {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background-color: rgba(64, 84, 90, 0.7);
  line-height: 1; }
  .mini-article__date > span {
    display: block; }
  .mini-article__date .date__day {
    font-size: 14px; }
  .mini-article__date .date__month {
    font-size: 10px;
    margin-top: 5px; }

.mini-article__info {
  padding: 15px;
  background: #fcfcfc; }

.mini-article__title {
  font-size: 16px;
  font-weight: 400; }
  .mini-article__title > a {
    display: block;
    height: 22px;
    font-size: inherit;
    text-decoration: none;
    transition: color 0.3s;
    color: #242f35;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .mini-article__title > a:hover {
      color: #19abd6; }

.mini-article__author {
  margin: 7px 0;
  color: #19abd6;
  text-align: right; }
  .mini-article__author > a {
    color: #19abd6;
    text-decoration: none; }
  .mini-article__author .author__item + .author__item::before {
    content: '&';
    color: #666;
    margin-right: 4px; }

.min-article__desc {
  margin: 6px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  line-height: 26px;
  height: 52px; }

.min-article__tags {
  position: relative;
  padding-left: 30px;
  line-height: 24px; }
  .min-article__tags > i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px; }
  .min-article__tags .tags__list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .min-article__tags .tags__item {
    float: left; }
    .min-article__tags .tags__item > a {
      font-size: inherit;
      text-decoration: none;
      transition: color 0.3s;
      color: #666; }
      .min-article__tags .tags__item > a:hover {
        color: #19abd6; }
    .min-article__tags .tags__item + .tags__item::before {
      content: ', '; }

@media screen and (min-width: 980px) {
  body .page__content {
    margin-right: 30px; } }

.page__post {
  float: none !important;
  width: 100% !important;
  margin: 0 !important; }

.page__content {
  overflow: hidden; }

.post__cover {
  width: 100%;
  overflow: hidden;
  text-align: center; }
  .post__cover.default__cover img {
    max-width: 100%; }
  .post__cover img {
    display: inline-block;
    vertical-align: top;
    max-height: 250px;
    max-width: 100%; }

.post__info {
  margin: 15px 0;
  padding-top: 10px; }

.post__title {
  font-size: 2em;
  color: #242f35;
  margin: .5em 0;
  font-weight: 400;
  line-height: 1; }

.post__mark {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px; }

.mark__block {
  display: flex;
  align-items: center;
  margin-right: 15px; }
  .mark__block .mark__icon {
    font-size: 18px;
    margin-right: 5px; }
  .mark__block .mark__list {
    line-height: 24px; }
  .mark__block .mark__item {
    float: left;
    margin-right: 5px; }
    .mark__block .mark__item > span {
      vertical-align: middle; }
    .mark__block .mark__item > a {
      font-size: inherit;
      text-decoration: none;
      transition: color 0.3s;
      color: #666;
      display: block; }
      .mark__block .mark__item > a:hover {
        color: #19abd6; }

.mark__tags .mark__item {
  border-radius: 20px;
  border: 2px solid #d8e5f3;
  font-size: 12px;
  padding: 0 7px; }
  .mark__tags .mark__item:hover {
    border-color: #19abd6; }

#separator {
  border-bottom: 1px dashed #ddd;
  padding-top: 20px; }

.post__content {
  word-wrap: break-word;
  overflow-wrap: break-word; }
  .post__content h1 {
    font-size: 2em; }
  .post__content h2 {
    font-size: 1.8em;
    font-weight: bold !important; }
  .post__content h3 {
    font-size: 1.6em; }
  .post__content h4 {
    font-size: 1.4em; }
  .post__content h5 {
    font-size: 1.2em; }
  .post__content h6 {
    font-size: 1em; }
  .post__content a, .post__content abbr, .post__content acronym, .post__content address, .post__content applet, .post__content big, .post__content blockquote, .post__content body, .post__content caption, .post__content cite, .post__content code, .post__content dd, .post__content del, .post__content dfn, .post__content div, .post__content dl, .post__content dt, .post__content em, .post__content fieldset, .post__content form, .post__content h1, .post__content h2, .post__content h3, .post__content h4, .post__content h5, .post__content h6, .post__content html, .post__content iframe, .post__content img, .post__content ins, .post__content kbd, .post__content label, .post__content legend, .post__content li, .post__content object, .post__content ol, .post__content p, .post__content q, .post__content s, .post__content samp, .post__content small, .post__content span, .post__content strike, .post__content strong, .post__content sub, .post__content sup, .post__content tt, .post__content ul, .post__content var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: inherit;
    vertical-align: baseline; }
  .post__content h1, .post__content h2, .post__content h3, .post__content h4, .post__content h5, .post__content h6, .post__content blockquote, .post__content p, .post__content img, .post__content ul, .post__content ol, .post__content dl {
    margin: 0;
    outline: none;
    border: 0; }
    .post__content h1:not(:last-child), .post__content h2:not(:last-child), .post__content h3:not(:last-child), .post__content h4:not(:last-child), .post__content h5:not(:last-child), .post__content h6:not(:last-child), .post__content blockquote:not(:last-child), .post__content p:not(:last-child), .post__content img:not(:last-child), .post__content ul:not(:last-child), .post__content ol:not(:last-child), .post__content dl:not(:last-child) {
      margin-bottom: 7px; }
  .post__content h1, .post__content h2, .post__content h3, .post__content h4, .post__content h5, .post__content h6 {
    line-height: 1.4;
    font-weight: 400;
    color: #242f35;
    margin-top: 21px; }
    .post__content h1:first-child, .post__content h2:first-child, .post__content h3:first-child, .post__content h4:first-child, .post__content h5:first-child, .post__content h6:first-child {
      margin-top: 0; }
  .post__content ul, .post__content ol, .post__content dl {
    padding-left: 2em; }
  .post__content blockquote {
    padding: 1em;
    position: relative;
    border-left: 5px solid #e4e4e4;
    background-color: rgba(164, 177, 191, 0.1);
    overflow: hidden; }
  .post__content h2 + h4, .post__content h3 + h4 {
    margin-top: 0;
    margin-bottom: 14px !important; }
  .post__content a {
    color: #19abd6;
    transition: color .3s;
    text-decoration: none; }
    .post__content a:hover, .post__content a:active {
      color: #3ac0e8;
      text-decoration: underline; }
  .post__content .highlight {
    background-color: #272822;
    margin: 21px 0;
    color: #fff;
    padding: .5em;
    border-radius: 4px;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    font-size: 12px; }
    .post__content .highlight + .post__content .highlight {
      margin: 10px 0; }
      .post__content .highlight + .post__content .highlight:last-child {
        margin-bottom: 21px; }
    .post__content .highlight table {
      width: auto;
      margin: 0;
      border: 0; }
      .post__content .highlight table tr td,
      .post__content .highlight table tr th {
        border: 0;
        padding: 0;
        background-color: transparent !important; }
    .post__content .highlight .line {
      height: 22px; }
    .post__content .highlight .gutter pre {
      min-width: 18px;
      margin-right: .8em;
      text-align: right;
      color: #8f908a; }
    .post__content .highlight .code {
      padding-left: 10px; }
      .post__content .highlight .code .tag .name {
        color: #F92672; }
      .post__content .highlight .code .tag .attr {
        color: #74E22E; }
      .post__content .highlight .code .tag .string {
        color: #E6DB74; }
      .post__content .highlight .code .comment {
        color: #75715E; }
      .post__content .highlight .code .keyword {
        color: #66D9EF; }
      .post__content .highlight .code .attr {
        color: #E6DB74; }
      .post__content .highlight .code .literal,
      .post__content .highlight .code .number {
        color: #AE81FF; }
      .post__content .highlight .code .string {
        color: #E6DB74; }
      .post__content .highlight .code .built_in {
        color: #66D9EF; }
      .post__content .highlight .code .function {
        color: #66D9EF; }
        .post__content .highlight .code .function .params {
          color: #FD9720; }
  .post__content code {
    padding: 0 .4em;
    margin: 0;
    background-color: rgba(27, 31, 35, 0.1);
    border-radius: 3px;
    font-weight: 400;
    word-break: break-all; }
  .post__content hr {
    border: 0;
    border-top: 1px solid #e4e4e4;
    margin: .5em 0 1em; }
  .post__content img {
    max-width: 100%; }
    .post__content img:not(:last-child) {
      margin-bottom: 10px; }
  .post__content table {
    width: 100%;
    border: 1px solid #d8e5f3;
    border-collapse: collapse; }
    .post__content table th {
      font-weight: 700; }
    .post__content table th,
    .post__content table td {
      padding: .5em;
      text-align: left;
      border: 1px solid #ddd;
      vertical-align: middle; }
    .post__content table tbody > tr:nth-child(2n+1) > td {
      background-color: rgba(102, 128, 153, 0.05); }
  .post__content .post-announce {
    margin: 1em 0; }
  .post__content .post__prevs {
    display: flex;
    width: 100%;
    font-size: 0;
    font-weight: bold;
    padding-top: 10px;
    border-top: 1px dashed #ddd; }
  .post__content .post__prev {
    flex: 1 0 0;
    overflow: hidden; }
    .post__content .post__prev > a {
      font-size: 14px;
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #666;
      cursor: pointer;
      transition: color 0.3s;
      text-decoration: none; }
      .post__content .post__prev > a.actived {
        color: #3ac0e8; }
      .post__content .post__prev > a:hover, .post__content .post__prev > a:active {
        color: #3ac0e8; }
      .post__content .post__prev > a .icon {
        font-size: 16px;
        vertical-align: middle; }
    .post__content .post__prev--right {
      text-align: right; }

/*# sourceMappingURL=post.css.map */
