extends layout/_layout

append content
    main.page__container.page__main
        .page__content
            .content__container
                p(style="width: 40%;margin: 10px auto;")
                    img(src="https://static.kaiziye.cn/static/images/alipay.jpg", alt="")
                p(style="width: 40%;margin: 10px auto;")
                    img(src="https://static.kaiziye.cn/static/images/wxpay.jpeg", alt="")
