extends layout/_layout

append content
    main.page__container.page__main
        .page__content {{ blog_archive_menu(page) }}
            .page__posts.clearfix

                each post in 'blog_archive_post(page)'
                    .page__post
                        //- include _partial/mini

        //- 分页 s_paginator

append pagejs
    script(type="text/javascript", src="/js/post.js")
