extends layout/_layout

append content
    main.page__container.page__main
        .page__content
            .page__posts.clearfix

                each post in data.posts
                    .page__post
                        include _partial/mini

        //- 分页 paginator

        include _partial/sidebar
