extends layout/_layout

append pageCss
    link(rel="stylesheet", href="css/archives.css")

append content
    main.page__container.page__main
        #page-content.page__content
            .search__loader
                i.icon.icon-loader

        include _partial/sidebar
