extends layout/_layout

append content
    main.page__container.page__main
        #page-content.page__content
            .search__loader
                i.icon.icon-loader

        include _partial/sidebar
