extends layout/_layout

append pageCss
    link(rel="stylesheet", href="css/tags.css")

append content
    main.page__container.page__main
        .page__content
            .page__posts.clearfix

                each post in ['page.posts']
                    .page__post
                        include _partial/mini

        //- 分页 paginator

        include _partial/sidebar

append pagejs
    script(src="/src/js/tags.js")
