    li.imgwrap(data-src=img)
        img.img(src=img, alt="")
        .actions
            span.action
                i.icon.icon-img
                | 设为封面
            span.action
                i.icon.icon-img
                | 查看大图
            span.action
                i.icon.icon-delete
                | 删除图片
            span.action
                i.icon.icon-copy
                | 复制路径
