
$main-color: #19abd6;
$main-color--hover: lighten($main-color, 10%);

$font-family: 'FiraCode', BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,"PingFang SC","Lantinghei SC","Microsoft Yahei","Hiragino Sans GB","Microsoft Sans Serif","WenQuanYi Micro Hei",sans;

$main-fc: #666;
$main-fs: 14px;
$main-lh: 1.7;

$title-fc: #242f35;

$hint-fc: #19abd6;

$bgc--main: #fff;
$bgc--bottom: #2d383e;
$bgc--footer: #242f35;

$border-c: #d8e5f3;

$transition: .3s;

$mq-desktop--wide: 1280px;
$mq-desktop: 980px;
$mq-mobile: 736px;

$pad: 15px;

$z-index--bottom: 1;
$z-index--center: 50;
$z-index--top: 100;
