.js-open {
    display: block !important;
}

.js-hidden {
    display: none !important;
}

.js-ease-out-leave {
    transition: transform .2s ease-out;
}

.js-ease-out-enter-active {
    transform: translateY(0) !important;
}

.js-ease-out-leave-active {
    transform: translateY(20px);
}
