.prettyprint {
    display: block;
    background-color: #272822;
    color: #f8f8f2;
    padding:1em;
    overflow:auto;
    border-radius: 4px;
    box-shadow:inset 0 0 1px 2px #3c3d39, 0 0 15px rgba(0,0,0,0.4);
}

/* Orange Highlight */
pre *::selection{
    background: rgba(73, 72, 62, .99);
    color: #F8F8F0;       /* whitish */
}

pre *::-moz-selection{
    background: rgba(73, 72, 62, .99);
    color: #F8F8F0;       /* whitish */
}

/******************** PRETTIFY COLORS ***********************/
pre .nocode { background-color: none; color: #000 }
pre .str { color: #E6DB74 } /* string          - yellow     */
pre .kwd { color: #F92672;} /* keyword         - blue       */
pre .com { color: #75715E } /* comment         - grey/green */
pre .typ { color: #66D9EF } /* type            - blue       */
pre .lit { color: #AE81FF } /* literal         - purple     */
pre .pun { color: #6bd9ee } /* punctuation     - whitish    */
pre .pln { color: #F8F8F0 } /* plaintext       - whitish    */
pre .tag { color: #F92672;} /* html/xml tag    - pink/red   */
pre .atn { color: #a0e22a;} /* attribute name  - green      */
pre .atv { color: #E6DB74 } /* attribute value - yellow     */
pre .dec { color: #F8F8F0 } /* decimal         - whitish    */

@media screen {
    /* CSS STYLES - specify class=lang-css on pre */
    pre.lang-css .pln{ color:#fff; }  /* plaintext - green    */
    pre.lang-css .lit{ color:#F92672; }  /* literal   - pink/red */

    /* JS STYLES - specify class=lang-js on pre */
    pre.lang-js .kwd{ color:#F92672; }  /* keyword  - purple */

    /* SQL STYLES - specify class=lang-sql on pre */
    pre.lang-sql .kwd{ color:#F92672; }  /* keyword  - pink/red */
}

/******************** LINE NUMBERS ***********************/
/* Specify class=linenums on a pre to get line numbering */
.prettyprint ol.linenums {
    color: #999;
    counter-reset: item;
    list-style-type: none;
    position: relative;
    &:before{
        position: absolute;
    }
    li{
        &:before {
            content: counter(item) "  ";
            counter-increment: item;
        }
    }
}

/******************* PRINT STYLES *******************/
@media print {
    .prettyprint { background-color: none }
    pre .str, code .str { color: #060 }
    pre .kwd, code .kwd { color: #6bd9ee; font-weight: bold }
    pre .com, code .com { color: #600; font-style: italic }
    pre .typ, code .typ { color: #404; font-weight: bold }
    pre .lit, code .lit { color: #044 }
    pre .pun, code .pun { color: #440 }
    pre .pln, code .pln { color: #000 }
    pre .tag, code .tag { color: #006; font-weight: bold }
    pre .atn, code .atn { color: #404 }
    pre .atv, code .atv { color: #060 }
}

.hljs,
.hljs-subst,
.hljs-tag,
.hljs-params .pun {
    color: #f8f8f2;
}

.hljs-emphasis,
.hljs-strong {
    color: #a8a8a2;
}

.hljs-bullet,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-quote,
.hljs-regexp,
.hljs-regexp .str {
    color: #ae81ff;
}

.hljs-code,
.hljs-section,
.hljs-selector-class,
.hljs-title,
.hljs-title .pln {
    color: #a6e22e;
}

.hljs-strong {
    font-weight: 700
}

.hljs-emphasis {
    font-style: italic
}

.hljs-attr,
.hljs-keyword,
.hljs-keyword .kwd,
.hljs-name,
.hljs-selector-tag {
    color: #f92672;
}

.hljs-attribute,
.hljs-symbol {
    color: #66d9ef
}

.hljs-class .hljs-title,
.hljs-params,
.hljs-params .pln {
    color: #fd9621;
}

.hljs-addition,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-attr,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-string,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
    color: #e6db74
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
    color: #75715e
}

.hljs-function{
    .hljs-keyword,
    .kwd{color: #66d9ef;}
}
