/* Preview dark theme */
/*
#{$prefix}preview-theme-dark {
    color: #777;
    background:#2C2827;

    #{$prefix}preview-container {
        color: #888;
        background-color: #2C2827;

        table {
            border: none;
        }

        .fa-emoji {
            color: #B4BF42;
        }

        .katex {
            color: #FEC93F;
        }
    }

    .markdown-body {
        h1, h2, hr {
            border-color: #222;
        }
    }

}
 */
