.index-content {
    .banners{
        padding: 10px;
    }
}

.index-block{
    &:first-child{margin-top:0;}
    &:hover{
        .block-desc:before{width: 8px;}
        // .block-desc:after{right: -50px;}
    }
    margin-top: 20px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.1);
    padding:5px 15px 15px;
}

.block-title{
    line-height: 40px;
    border-bottom:2px solid $border-color-base;
    .block-desc{font-size: 16px;
        display: inline-block;
        vertical-align: top;
        position: relative;
        padding-left: 15px;
        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 8px;
            bottom:8px;
            width: 4px;
            background: #409EFF;
            transition: width .2s;
        }
        /* &:after{
            content: '';
            position: absolute;
            bottom:-2px;
            left: 0;
            right: 0;
            height: 2px;
            transition: right .2s;
            background: #409EFF;
        } */
    }
    .keywords, .more-link {
        margin-left: 20px;
        float: left;
    }
    .more-link{
        font-size: 12px;
        .el-icon-arrow-right{margin-left:-4px;}
    }
}

.block-wrap{
    .col-row{
        display: flex;
        justify-content: space-between;
        margin-left: -20px;
        .col-item{display: flex;}
        .entry-thumb{flex: 1;}
        .thumb-icon,
        .thumb-img{height: 100px;}
        .entry-detail{
            flex: 2;
            padding-left: 20px;
        }
    }
    .col-col{
        display: flex;
        justify-content: space-between;
        margin-left: -20px;
        .entry-thumb,
        .thumb-icon,
        .thumb-img{
            height: 170px;
            display: block;
        }
    }
    .col-item{
        flex: 1;
        margin:15px 0 15px 20px;
    }
    .entry-thumb{
        border-radius: 5px;
        overflow: hidden;
        background: rgba(0,0,0,.1);
        transition: background .2s;
        &:hover{background: rgba(0,0,0,.3);}
    }
    .thumb-icon{
        background-repeat: no-repeat !important;
        background-size: contain !important;
    }
    .thumb-img{
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
    .entry-title{
        margin-bottom: 15px;
        font-size: 16px;
    }
    .entry-link{
        color: #333;
        max-height: 40px;
        line-height: 20px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        &:hover{
            color: $color-link-base;
        }
    }
    .entry-desc{
        color: #999;
        font-size: 13px;
        height: 36px;
        line-height: 18px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.broadcast-msg{
    position: relative;
    margin-bottom: -30px;
    padding: 25px 40px;
    &:after{
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        border-top: 20px solid #fff;
        border-left:20px solid #fff;
        border-right:20px solid transparent;
        border-bottom:20px solid transparent;
    }
    .broadcast-msg_wrap{
        height: 20px;
        line-height: 20px;
        overflow: hidden;
        li{float: left;
            width: 50%;
        }
    }
}
