#page-loading{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 102;
    overflow: hidden;
	background: #eee;
	opacity: 1;
	transition: opacity .2s;
	&.hidden{opacity: 0;}
}

#page{
	opacity: 0;
	transition: opacity .1s;
	padding-bottom: 360px;
	position: relative;
    &.showPage{
        opacity: 1;
    }
}

.page-loading {
	position: absolute;
	margin-left: -40px;
	left: 50%;
    top: 47%;
	animation: speeder 0.46s linear infinite;
}

.page-loading > span {
	height: 4px;
	width: 28px;
	background: rgba(58,191,232,0.98);
	position: absolute;
	top: -15px;
    left: 48px;
	border-radius: 2px 8px 1px 0;
}

.cssload-base span {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-right: 80px solid rgb(58,191,232);
	border-bottom: 5px solid transparent;
}

.cssload-base span:after {
	content: "";
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background: rgb(58,191,232);
	position: absolute;
	right: -88px;
	top: -13px;
}

.cssload-base span:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 0 solid transparent;
	border-right: 44px solid rgb(58,191,232);
	border-bottom: 13px solid transparent;
	top: -13px;
	right: -78px;
}

.cssload-face {
	position: absolute;
	height: 10px;
	width: 16px;
	background: rgb(58,191,232);
	border-radius: 16px 16px 0 0;
	transform: rotate(-40deg);
	right: -100px;
	top: -12px;
}

.cssload-face:after {
	content: "";
	height: 10px;
	width: 10px;
	background: rgb(58,191,232);
	right: 3px;
	top: 6px;
	position: absolute;
	border-radius: 0 0 0 2px;
	transform: rotate(40deg);
	transform-origin: 50% 50%;
}

.cssload-body > span > span:nth-child(1),
.cssload-body > span > span:nth-child(2),
.cssload-body > span > span:nth-child(3),
.cssload-body > span > span:nth-child(4){
	width: 24px;
	height: 1px;
	background: rgb(58,191,232);
	position: absolute;
	animation: fazer1 0.23s linear infinite;
}

.cssload-body > span > span:nth-child(2) {
	top: 2px;
	 animation: fazer2 0.46s linear infinite;
}

.cssload-body > span > span:nth-child(3) {
	top: 1px;
	animation-delay: -1.15s;
}

.cssload-body > span > span:nth-child(4) {
	top: 3px;
	animation: fazer4 1.15s linear infinite;
	animation-delay: -1.15s;
}

.cssload-longfazers {
	position: absolute;
	width: 100%;
	height: 100%;
}

.cssload-longfazers span {
	position: absolute;
	height: 2px;
	width: 20%;
	background: rgb(58,191,232);
}

.cssload-longfazers span:nth-child(1) {
	top: 20%;
	animation: cssload-lf 0.69s linear infinite;
	animation-delay: -5.75s;
}

.cssload-longfazers span:nth-child(2) {
	top: 40%;
	animation: cssload-lf 0.92s linear infinite;
	animation-delay: -1.15s;
}

.cssload-longfazers span:nth-child(3) {
	top: 60%;
	animation: cssload-lf 0.69s linear infinite;
}

.cssload-longfazers span:nth-child(4) {
	top: 80%;
	animation: cssload-lf 0.58s linear infinite;
	animation-delay: -3.45s;
}

@keyframes fazer1 {
    0% {left: 0;} 100% {left: -64px;opacity: 0;}
}

@keyframes fazer2 {
    0% {left: 0;} 100% {left: -80px;opacity: 0;}
}

@keyframes fazer3 {
    0% {left: 0;} 100% {left: -40px;opacity: 0;}
}

@keyframes fazer4 {
    0% {left: 0;} 100% {left: -120px;opacity: 0;}
}

@keyframes speeder {
	0% { transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-2px, 0px) rotate(1deg); }
	30% { transform: translate(1px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-1px, 1px) rotate(0deg); }
	70% { transform: translate(2px, 1px) rotate(-1deg); }
	80% { transform: translate(-2px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 1px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes cssload-lf {
	0% {left: 200%;}
	100% {left: -200%;opacity: 0;}
}
