$paginator-width: 32px;
$paginator-span: 20px;

@mixin item($bgc, $width) {
    width: $width;
    display: block;
    padding: 0 5px;
    min-width: $width;
    text-align: center;
    height: $paginator-width;
    line-height: $paginator-width;
    border-radius: 16px;
    background: $bgc;
    color: #40545a;
}

.page__paginator {
    width: 100%;
    margin-top: 3 * $pad;
    line-height: 1;
    text-align: center;
}

.paginator__list {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.paginator__nav{
    margin: 0 15px !important;
}

.paginator__item {
    float: left;

    & + & {
        margin-left: 5px;
    }

    & > a {
        @include item(#d8e5f3, $paginator-width);
        transition: background $transition;

        &:hover {
            background-color: darken(#d8e5f3, 20%);
        }
    }

    & > span {
        @include item(transparent, $paginator-span);
    }
}
