@keyframes bounce {
    0% {
        transform: translate(0, -36px);
    }
    50% {
        transform: translate(0, 0);
    }
    80% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, 0);
    }
}
/* 头部样式 */
.base-heading {
    margin-bottom: 30px;
    height: 64px;
    line-height: 36px;
    background: #fff;
    position: relative;
    z-index: 20;
}

.heading-container{
    transform: translate(0, -66px);
    animation: bounce 0.24s ease-in forwards;
    box-shadow: 0 5px 5px rgba(230, 230, 230, .8);
    height: 64px;
    font-size: 0;
    padding: 14px 10px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    .logo{
        float: left;
        width: 50px;
        height: 36px;
    }
    .nav-menu{
        display: inline-block;
        vertical-align: top;
        position: relative;
        height: 36px;
        margin-left: 10px;
        font-size: 14px;
        .post-btn{
            height: 36px;
            line-height: 36px;
            padding: 0 10px;
        }
    }
    .menu-link{
        color: #444;
        padding:0 5px;
        &:after{
            content: '';
            position: absolute;
            left: 50%;
            right: 50%;
            height: 2px;
            top: 100%;
            background: #515151;
            transition: left .1s, right .1s;
        }
        &:hover{
            &:after{
                left: 5px;
                right:5px;
            }
        }
    }
    .exact-match-link{
        &:after{
            left: 5px;
            right:5px;
        }
    }
}

.sub-nav.el-dropdown-menu{
    background: rgba(51, 51, 51, .9);
    .el-dropdown-menu__item{background: transparent;}
    .menu-link{
        color: $color-text-third;
        transition: color .2s;
        &:hover{
            color: #fff;
        }
    }
    .popper__arrow:after{border-bottom-color: rgba(51, 51, 51, .9);}
}

.main-nav-fly{
    height: 64px;
}

.main-nav-right{
    background: linear-gradient(#eff0f0, #2c2c2c);
}

.heading-side{
    height: 36px;
    line-height: 36px;
    li{margin-left: 15px;
        @include inline-block;
    }
}

.search-for{
    border-radius: 4px;
    background: #515151;
    white-space: nowrap;
    color: #fff;
    font-size: 0;
    .search-global{
        @include inline-block;
        &:hover{
            .el-input{width: 160px;}
        }
    }
    [class^="el-icon-"]{
        font-size: 16px;
        padding:10px 15px;
        vertical-align: top;
        cursor: pointer;
        color: #fff;
        &:hover{
            transform: scale(1.1);
        }
    }
    .el-input{
        width: 0;
        overflow: hidden;
        transition: width .2s ease-in;
        vertical-align: top;
    }
    .el-input__inner{
        border: 0;
        height: 36px;
        line-height: 36px;
        background: #515151;
        color: #fff;
    }
    .el-dropdown{
        vertical-align: top;
        &:before{
            content: '';
            position: absolute;
            top: 10px;
            bottom: 10px;
            left: 0;
            width: 1px;
            background: #999;
        }
    }
}

.base-notice{
    position: absolute;
    top: 100%;
    right: 0;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    padding: 0 10px;
    overflow: hidden;
    background: rgba(51, 51, 51, .8);
    transition: height .2s;
    color: #fff;
    &.get-hidden{height: 0;}
}
