html(lang="en")
    head
        include head.pug

        link(rel="stylesheet", href="/css/base.css")
        block pageCss

    body
        //- loading 页面
        - var pageheader = locals.pageheader
        - var setting = locals.setting
        - var data = locals.data

        #page-loading.page.page-loading(style=`background-image: url(${setting.loader_img})`)

        #page.page.js-hidden

            include header.pug

            //- content
            block content

            include footer
            //- 返回顶部
            #back-top.back-top.back-top--hidden.js-hidden
                i.icon.icon-top

            script(type="text/javascript", src="/js/common.js")
            script(type="text/javascript", src="/js/lib.js")

            block pagejs
