header(id='post-header', class='page__header--small')
    input(id="article-title", type="text", placeholder="标题")
    .drop-panel.postset
        .drop-icon ...
        #postform-list.drop-content.js-hidden
            p.tip (自定义文章内容)
            .form-label
                .label-content
                    input#postid.label-input(type="text", placeholder="文章 id", data-post="path")

            .form-label
                .label-content
                    input.label-input(type="text", placeholder="标题", data-post="title")

            .form-label
                .label-content
                    input.label-input(type="text", placeholder="副标题", data-post="subtitle")

            .form-label
                .label-content
                    input.label-input(type="text", value="keydone", placeholder="作者", data-post="author")

            .form-label
                .label-content
                    input.label-input(type="text", placeholder="文章分类", data-post="category")

            .form-label
                .label-content
                    input.label-input(type="text", placeholder="文章标签(多个标签之间用 , 分开)", data-post="tags")

            .form-label
                .label-content
                    input#postdate.label-input(type="text", placeholder="发布时间", data-post="date")

                .label-content.cover-update
                    input#postcover.label-input(type="text", placeholder="封面图片地址", data-post="cover")
    span.post-btns
        span.post-btn#post 发布
        span.post-btn#draft 草稿
        span.post-btn#update 更新
