@import './particles/consts';
@import './layout/sidenav';

html, body{
    background: #f2f2f2;
}

.btn{display: inline-block;
    transition: background .2s;
    height: 40px;
    line-height:40px;
    padding: 0 20px;
    background: #3b4444;
    white-space: nowrap;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    border: none;
    &:hover{
        background: #222;
    }
}

.btn-disabled{background: #ccc !important;}

.btn-small{
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    padding: 0 5px;
    margin: 0 5px;
    .icon{font-size: inherit;
        margin-right:5px;
    }
}

.btn-action{background: #14a3ce;
    .icon-hide{font-size: 17px;
        vertical-align: middle;
    }
    &:hover{background: #0f93bb;}
}
.btn-danger{background: #ff4e2a;
    &:hover{background: #f12500;}
}

.pad10{
    padding: 10px;
}

.pad20{
    padding: 20px;
}

.col-wrap{
    padding: 10px 15px;
    line-height: 24px;
}

.col-layout{
    position: absolute;
    top:0; left:0;
    right: 0;
    bottom:0;
    overflow: hidden;
    background: #fff;
    .col-4{
        position: absolute;
        top:0; left:0;
        bottom:0;
        width: 200px;
    }
    .col-20{
        position: absolute;
        top:0; left: 200px;
        bottom:0; right:0;
        overflow: hidden;
    }
    .new-article{
        display: block;
        margin:0 auto 10px;
        width: 120px;
        height: 32px;
        color:#fff;
        line-height: 30px;
        text-align: center;
        border-radius: 50px;
        background: $main-color;
        transition: background .2s;
        &:hover{background: #3ac0e8;}
    }
    .col-list{
        position: absolute;
        top:0; left:0;
        width: 360px;
        height:100%;
        overflow: auto;
        padding: 20px 0;
        .page__paginator{margin-top: 10px;}
    }
    .col-content{
        position: absolute;
        top:0;
        right:0;
        left:360px;
        height: 100%;
        overflow-y: auto;
        padding: 20px;
        border-left: 1px solid #e0e0e0;
    }
}

#articles-list{
    .dl{padding: 10px;
        border-top: 1px solid #e0e0e0;
        &:first-child{border:0;}
        &.on{color: #fff;
            background: $main-color--hover;
            .post-title{color: #242f35;}
            .actions{
                .icon:hover{color: #242f35;}
            }
        }
    }
    .post-title{
        cursor: pointer;
        font-size: 16px;
        color: #242f35;
        transition: color .2s;
        &:hover{color: $main-color;}
    }
    .author{font-size: 14px;}
    .icon-title{
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
    .actions{
        user-select: none;
        .icon{
            font-size: 13px;
            cursor: pointer;
            transition: color .2s;
            margin-right: 10px;
            &:hover{color: $main-color;}
            &:before{margin-right: 5px;}
        }
    }
}

.temp-preview{
    text-align: center;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    .icon-preview{font-size: 100px;}
}

.editormd-preview-container{padding: 20px;}

.card-title{
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px dashed #f1f1f1;
}

.card-header{
    padding:20px 10px;
    border-bottom: 1px solid #f2f2f2;
}

.card-body{padding: 10px;}

.card-table{
    margin: 10px 0;
    th, tr{transition: background .2s;}
    th, tr:nth-child(2n){
        background: #f1f1f1;
    }
    tr:hover{
        background: #f2f2f2;
    }
    th, td{padding: 5px 10px;
        border-top: none;
        border-left: none;
        border-width: 1px;
        border-style: solid;
        border-color: #e6e6e6;
        text-align: left;
    }
}

.label-inline{
    display: inline-block;
    vertical-align: middle;
    .form-label, .form-label-input{
        display: inline-block;
        vertical-align: middle;
    }
    .form-label{
        margin-right: 10px;
    }
}

.input-add{
    padding: 5px 10px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    border:1px solid #e0e0e0;
    margin-right: 15px;
    font-size: 14px;
}
