@import './particles/consts';
@import './particles/mixins';
@import './particles/filepond';
@import './layout/mini-post';

.page__post{
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
}

.page__content {
    overflow: hidden;
    .closeForm{
        display: block;
        text-align: center;
        width: 100px;
        height: 40px;
        line-height: 40px;
        position: relative;
        font-size: 30px;
        margin: 0 auto;
        &.open .icon-top{
            transform: rotate(0);
        }
        .icon-top{
            display: block;
            transform: rotate(180deg);
        }
    }
}

.post__cover {
    width: 100%;
    overflow: hidden;
    text-align: center;
    &.default__cover {
        img{max-width: 100%;}
    }

    img {
        display: inline-block;
        vertical-align: top;
        max-height: 250px;
        max-width: 100%;
    }
}

.post__info {
    margin: $pad 0;
    padding-top: 10px;
}

.post__title {
    font-size: 2em;
    color: $title-fc;
    margin: .5em 0;
    font-weight: 400;
    line-height: 1;
}

.post__mark {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
}

.mark__block {
    display: flex;
    align-items: center;
    margin-right: 15px;

    .mark__icon {
        font-size: 18px;
        margin-right: 5px;
    }

    .mark__list {
        line-height: 24px;
    }

    .mark__item {
        float: left;
        margin-right: 5px;

        & > span {
            vertical-align: middle;
        }

        & > a {
            @include link($main-color);
            color: $main-fc;
            display: block;
        }

    }
}

.mark__tags{
    .mark__item{
        border-radius: 20px;
        border: 2px solid #d8e5f3;
        font-size: 12px;
        padding: 0 7px;
        &:hover {
            border-color: #19abd6;
        }
    }
}

#separator{
    border-bottom: 1px dashed #ddd;
    padding-top: 20px;
}

.post__content {
    @include post();

    .post-announce {
        margin: 1em 0;
    }

    .post__prevs {
        display: flex;
        width: 100%;
        font-size: 0;
        font-weight: bold;
        padding-top: 10px;
        border-top: 1px dashed #ddd;
    }

    .post__prev {
        flex: 1 0 0;
        overflow: hidden;

        & > a {
            font-size: $main-fs;
            display: inline-block;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $main-fc;
            cursor: pointer;
            transition: color $transition;
            text-decoration: none;

            &.actived {
                color: $main-color--hover;
            }

            &:hover,
            &:active {
                color: $main-color--hover;
            }

            .icon {
                font-size: 16px;
                vertical-align: middle;
            }
        }

        &--right {
            text-align: right;
        }
    }
}

#form-list{
    &.closed{
        max-height: 65px;
        overflow: hidden;
    }
}

.form-label{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding:0 30px;
    .label-content{
        border:1px solid #d5d5d5;
        border-radius: 4px;
    }
    .filepond--panel{border-radius: 4px;}
    .label-desc{
        font-size: 12px;
        margin: 5px 0;
        border-left: 4px solid #19abd6;
        padding-left: 5px;
        background: #f7fafd;
    }
    .label-input{
        width: 100%;
        padding: 5px 10px;
        border-radius: 4px;
        line-height: 20px;
        height: 30px;
        border: 0;
    }
}

.post-content{
    .form-label{
        padding: 5px;
    }
    .label-textarea{
        resize: vertical;
        width: 100%;
        padding: 5px 10px;
        border-radius: 4px;
        line-height: 20px;
        border: 0;
    }
}

.post-btns{
    text-align: right;
    padding-top: 10px;
    a{display: inline-block;
        vertical-align: top;
        padding-left: 5px;
        margin-left: 5px;
    }
}

#preview{
    max-height: 1010px;
    overflow-y: auto;
}

@media screen and (max-width: $mq-mobile) {
    .page__main{padding: 20px 15px;}
    .form-label {
        width: 100%;
        padding: 0;
    }
    .preview-view{display: none;}
}
