/* 所有 scss 文件都不用手动引入变量, webpack 中已自动处理
@import "./variable.scss"; */
@import "./_reset.scss";
@import "./_wave.scss";

.pad20{padding:20px;}
.pl10{padding-left: 10px;}
.pr10{padding-right: 10px;}
.mt20{margin-top: 20px;}
.mb20{margin-bottom: 20px;}
.ml10{margin-left: 10px;}
.mr10{margin-right: 10px;}
.margin20{margin:20px;}
.fl{float: left;}
.fr{float: right;}

.clearfix {
    *zoom:1;
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.f-mini{font-size: 12px;}
.f-small{font-size: 13px;}
.f-nomal{font-size: 14px;}
.f-big{font-size: 16px;}

.hidden{display: none;}
.shown{display: block;}
.nowrap{white-space: nowrap;
    .el-input{width: auto;}
}

.text-center{text-align: center;}
.text-right{text-align: right;}
.block-center{
    display: block;
    margin: 0 auto;
}
.flex{display:flex;
    &.space-between{justify-content: space-between;}
    .flex_1{flex:1;}
}

.btn-normal{
    height: 36px;
    line-height: 1;
    cursor: pointer;
    background: #FFF;
    border: 1px solid #DCDFE6;
    display: inline-block;
    color: #606266;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    padding: 10px 16px;
    font-weight: 500;
    transition:width .1s, color .1s, background-color .1s;
    &:hover{
        color: #409EFF;
        border-color: #c6e2ff;
        background-color: #ecf5ff;
    }
}

.btn-primary{
    color: #FFF;
    background-color: #409EFF;
    border-color: #409EFF;
    &:hover{
        background: #66b1ff;
        border-color: #66b1ff;
        color: #FFF;
    }
}

#app{
    min-height: 100vh;
    &.scroll-x{min-width: 1160px;}
}

.full-height{
    height: 100vh;
}
/* 全局 loading */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s ease-in;
}

.fade-enter,
.fade-leave-to {
    opacity: 0.2;
}

.posr{position: relative;}
.posa{position: absolute;}

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    &.fade-enter-active,
    &.fade-leave-active{
        position: absolute;
        left: 0;
        right: 0;
    }
    .wrapper-title {
        padding: 15px;
        font-size: 20px;
        text-align: center;
    }
}
